<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocaboulary Test</title>
</head>
<body>
    <div>
    <form action="/getVocab", method="POST">
        {%for idx in sample.ita.to_list()%}
        <input style="width: 25%" type = "text" class="fname" name="fname" value="{{idx}}"></li><br>
    {%endfor%}
</form> 
</div>

<div>
    <form action="/check", method="POST">
        <br>
        {%for idx in result%}
            <input style="width: 25%" type = "text" class="fname" name="fname" value="{{idx}}"></li><br>
        {%endfor%}
        <br>
    <input type="submit" value="Submit">
    </form> 


    
</div>

</body>
</html>